* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #F5F8FD;
}

.content{
    padding: 1rem;
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
}

@media screen and (min-width: 992px) {
  .content{
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}

.normal   {background-color: #A6A877;}
.grass    {background-color: #56CD76;}
.fire     {background-color: #F45D45;}
.water    {background-color: #72B9F4;}
.electric {background-color: #F7CF2E;}
.ice      {background-color: #98D5D7;}
.ground   {background-color: #DFBF69;}
.flying   {background-color: #A98FF0;}
.poison   {background-color: #A040A0;}
.fighting {background-color: #BF3029;}
.psychic  {background-color: #F65687;}
.dark     {background-color: #725847;}
.rock     {background-color: #B8A137;}
.bug      {background-color: #A8B720;}
.ghost    {background-color: #6E5896;}
.steel    {background-color: #B9B7CF;}
.dragon   {background-color: #6F38F6;}
.fairy    {background-color: #F9AEC7;}