header{
  background-color: #FFFFFF;
  padding: .5rem 1rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header h1{
    margin: 0;
    color: #000000;
    font-weight: 300;
}

.headerBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerBar .openMenuBtn{
  background-color: transparent;
  color: #000000;
  height: 50px;
  padding: .5rem 1rem;
  margin: auto 0;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 30px;
}

.headerBar .openMenuBtn:hover{
  background-color: #F5F5F5;
}

.headerBar #btnDarkMode{
  background-color: #d7d8d8;
  color: #000000;
  border: none;
  border-radius: 50%;
  height: 30px;
  font-size: 10px;
  padding: .5rem;
  margin: auto 0;
  cursor: pointer;
  transition: 1s;
}

.backgroundBtnDarkMode{
  background-color: #2F323C;
  border: none;
  border-radius: 1.2rem;
  padding: 0;
  width: 3.4rem;
  display: flex;
  justify-content: end;
  margin-right: .3rem;
  transition: 1s;
}